<main class="mx-auto mb-28 mt-28 flex h-fit w-4/5 cursor-default flex-col justify-center text-slate-50 lg:w-3/5">
  <span class="absolute left-0 h-40 w-40 bg-[#4ea9b9] opacity-50 [filter:blur(8rem)]" />
  <span class="absolute right-0 h-40 w-40 bg-[#0aa2bd] opacity-50 [filter:blur(8rem)]" />
  <h2 class="text-5xl font-bold">
    Temukan Gaya Belajarmu dan<br class="hidden lg:inline" />Kenali
    Kepribadiamu!
  </h2>
  <h5 class="mt-6 text-justify text-base font-medium italic lg:text-lg">
    Dapatkan wawasan tentang dirimu untuk pengalaman belajar yang lebih personal
    dan efektif. Kenali Dirimu, temukan kekuatanmu, tingkatkan kemampuanmu, dan
    belajar sesuai dengan caramu.
  </h5>
</main>