---
import PertanyaanKepribadian from "@/data/pertanyaan-kepribadian.json";
---

<section class="flex flex-col gap-y-4 overflow-x-auto rounded-xl border-2 border-white p-6 text-white">
  {PertanyaanKepribadian.map((pertanyaan) => (
    <div
      class="flex w-full max-w-full cursor-default flex-col"
      id={pertanyaan.id}
    >
      <h5 class="mt-4 text-lg font-medium">{pertanyaan.pertanyaan}</h5>
      <div class="mt-3 flex items-center justify-evenly gap-x-8">
        <span class="h-12 w-12 rounded-full border-2 border-white lg:h-20 lg:w-20" />
        <span class="h-6 w-6 rounded-full border-2 border-white lg:h-12 lg:w-12" />
        <span class="h-4 w-4 rounded-full border-2 border-white lg:h-8 lg:w-8" />
        <span class="h-6 w-6 rounded-full border-2 border-white lg:h-12 lg:w-12" />
        <span class="h-12 w-12 rounded-full border-2 border-white lg:h-20 lg:w-20" />
      </div>
      <div class="mx-auto mt-4 flex w-[90%] items-center justify-between text-xs lg:text-lg">
        <h4>Sangat Tidak Setuju</h4>
        <h4>Sangat Setuju</h4>
      </div>
    </div>
  ))}
</section>