---
import MainLayout from "@/common/main-layout.astro";
import Hero from "@/components/self-analytics/hero.astro";
import Menu from "@/components/self-analytics/menu.astro";
import Question from "@/components/self-analytics/question.astro";
---

<MainLayout title="Analisis Diri | SinauRek" description="">
  <Hero />
  <main class="mx-auto flex w-4/5 flex-col gap-x-10 lg:flex-row">
    <Menu />
    <Question />
  </main>
</MainLayout>