---
import KaroselBlog from "@/components/home/karosel-blog.astro";
---

<main class="mt-28 h-full w-full cursor-default text-slate-50">
  <section class="mx-auto grid h-fit w-4/5 grid-cols-1 gap-x-10 lg:grid-cols-2">
    <div class="flex h-full w-full flex-col justify-center">
      <h2 class="text-center text-3xl font-bold lg:text-justify">
        Temukan Wawasan Terbaru di Blog Kami
      </h2>
      <h4 class="mt-5 hidden text-justify text-base font-medium lg:flex lg:text-lg">
        Eksplorasi bagaimana teknologi, dari algoritma sederhana hingga
        kecerdasan buatan, dapat menghadirkan inovasi di dunia pendidikan untuk
        membentuk generasi yang cerdas dan berakhlak mulia.
      </h4>
      <a
        href="/blog"
        class="mt-10 hidden h-fit w-fit rounded-lg bg-[#d9d9d9] px-8 py-5 text-base font-extrabold text-slate-950 transition-all duration-300 ease-in-out [box-shadow:0.3rem_0.3rem_0_#bcbcbc20] hover:scale-105 hover:bg-slate-200 lg:flex lg:text-lg"
      >
        Lihat Selengkapnya
      </a>
    </div>
    <div>
      <KaroselBlog />
    </div>
    <a
      href="/blog"
      class="mx-auto mt-7 flex h-fit w-fit rounded-lg bg-[#d9d9d9] object-cover px-8 py-4 text-base font-extrabold text-slate-950 transition-all duration-300 ease-in-out [box-shadow:0.3rem_0.3rem_0_#bcbcbc20] hover:bg-slate-200 lg:hidden lg:text-lg"
    >
      Lihat Selengkapnya
    </a>
  </section>
</main>