<div class="mx-auto mt-24 flex h-full w-4/5 flex-col items-center text-slate-50">
  <h3 class="cursor-default text-center text-3xl font-extrabold">
    Kami Tunggu Antusiasmu!
  </h3>
  <h5 class="mt-4 cursor-default text-justify text-lg tracking-wider [text-align-last:center] lg:text-xl">
    Menuntut ilmu di SinauRek jauh lebih menyenangkan&nbsp;
    <br class="hidden lg:flex" />
    dan bisa dilakukan dimana saja!
  </h5>
  <span class="mt-8 flex gap-x-6">
    <a
      href="#"
      class="h-fit w-fit rounded-lg bg-[#393333] px-8 py-4 font-semibold text-slate-50 transition-all duration-300 ease-in-out hover:bg-[#444555]"
    >
      Pelajari Lebih Lanjut
    </a>
  </span>
</div>