<header class="ml-[15%] flex w-[85%] items-center justify-between border-b-2 border-[#232728] bg-[#1b1d1e] px-10 py-5 lg:ml-[7.5%] lg:w-[92.5%] lg:py-7">
  <div class="relative w-full max-w-xs">
    <label for="search" class="hidden" />
    <i class="fas fa-search inset-y-0 left-0 cursor-pointer items-center rounded-lg bg-white p-3.5 text-[#232728] lg:absolute lg:flex lg:cursor-default lg:rounded-none lg:bg-transparent lg:p-0 lg:pl-5 lg:text-gray-400" />
    <input
      type="text"
      name="search"
      id="search"
      class="hidden w-full rounded-2xl border-2 border-white bg-transparent py-3 pl-12 pr-5 text-white focus:outline-none lg:inline"
      placeholder="Cari..."
    />
  </div>
  <div class="mr-2 flex cursor-pointer text-slate-50 lg:mr-10">
    <img
      src="/profile-example.png"
      alt="Profile"
      class="my-auto h-full max-h-9 w-full max-w-9 rounded-full italic lg:max-h-12 lg:max-w-12"
    />
    <span class="my-auto ml-4 flex flex-col">
      <h5 class="text-sm font-semibold lg:text-base">Abdul Shamil</h5>
      <h6 class="text-xs font-normal">Guru IPA</h6>
    </span>
    <i class="fa-solid fa-chevron-down my-auto ml-4 max-h-full" />
  </div>
</header>