<header class="ml-[7.5%] flex w-[92.5%] items-center justify-between bg-slate-900 px-10 py-8 shadow-lg shadow-slate-400/10">
  <div class="relative w-full max-w-xs">
    <label for="search" class="hidden" />
    <i class="fas fa-search absolute inset-y-0 left-0 flex items-center pl-5 text-gray-400" />
    <input
      type="text"
      name="search"
      id="search"
      class="w-full rounded-2xl py-4 pl-12 pr-5 focus:outline-none"
      placeholder="Cari..."
    />
  </div>
  <div class="mr-16 flex cursor-pointer text-slate-50">
    <img
      src=""
      alt="Profile"
      class="h-full max-h-12 w-full max-w-12 rounded-full italic"
    />
    <span class="ml-8 flex flex-col">
      <h5 class="text-base font-semibold">Abdul Shamil</h5>
      <h6 class="text-xs font-normal">Guru IPA</h6>
    </span>
    <i class="fa-solid fa-chevron-down ml-8 flex max-h-full items-center" />
  </div>
</header>