<section class="flex h-full w-full cursor-default flex-col rounded-xl border-2 border-[#232728] bg-[#1b1d1e] py-8 text-slate-50">
  <div class="mx-auto flex w-[90%] items-center justify-center xl:justify-start">
    <img src="/pemahaman-materi.png" alt="Icon" />
    &ensp;
    <h4 class="text-2xl font-semibold">Pemahaman Materi</h4>
  </div>
  <div class="mx-auto flex w-[90%] items-center justify-center xl:justify-start">
    <img src="/data-pemahaman-materi.png" alt="Data" class="mt-8" />
  </div>
</section>